printWidth: 100
semi: false
singleQuote: true
proseWrap: "never"
arrowParens: "avoid"
bracketSpacing: true
#disableLanguages": ["custom"]
endOfLine: "auto"
eslintIntegration: true
htmlWhitespaceSensitivity: "ignore" # 属性标签格式化符合预期
ignorePath: ".prettierignore"
jsxBracketSameLine: false
jsxSingleQuote: false
#parser: vue
stylelintIntegration: true
trailingComma: "none"
tslintIntegration: false
vueIndentScriptAndStyle: false
embeddedLanguageFormatting: "auto"
