@import './layout.css';
@import './var.css';
@import './code.css';
@import '../iconfont/iconfont.css';

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.home-hero .image {
  width: 200px;
  height: 200px;
}

.nav-bar .logo {
  height: 30px;
  margin-right: 2px;
}

.custom-block.tip {
  border-color: var(--c-brand-light);
}

.DocSearch {
  --docsearch-primary-color: var(--c-brand) !important;
}

