/* vitepress layout */
.page > .container:first-child {
  max-width: unset !important;
  padding: 0 12.5rem 4rem 3rem !important;
}

@media only screen and (max-width: 992px) {
  .page > .container:first-child {
    padding: 0 1.5rem 4rem !important;
  }
}
